.header {
    display: flex;
    align-items: center;
    padding: 0px;
    
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 48px;
    
}

.header .header {
    max-height: 20px;
    max-width: 5px;

}

.header .title-group {
    padding-left: 25px;

}

.header .title-group i {
    padding-right: 5px;
}